@import url(http://fonts.googleapis.com/css?family=Roboto:100&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Raleway:800);

/*** 
	@ media
 ***/
@media (max-width: 765px) {

	body {
		position: relative;
		top: 120px;
	}

	#book-editions .books-jumbo {
		display: block;
		margin: 0 auto;
	}
}

/*** 
	tables 
***/
table {
	width: 100%;
}

tr {
}

td {
	width: 25%;
	
}

/*** 
	title 
***/
body {
	/*max-width: 1600px;*/
}

h1, h2, h3, h4, h5, dt {
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold !important;
}

p, a, li, dd, input, label, form, .btn, .form-control {
	font-family: 'Merriweather', serif;
	font-size: 17px;
}

#book-editions .title {
	font-size: 45px;
}

.title {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 62px;
	font-weight: bold;
	background: rgba(255,255,255,0.6);
	z-index: 1;
	padding: 10px;
}

#logo {
	margin: auto;
	display: block;
	height: 200px;
	opacity: 0.8;
}


#main-jumbo {
	margin-bottom: 0px;
	padding-top: 0px;
}


/*** main page text ***/
#page-text {
	padding: 10px 0px 20px 0px;
	width: 70%;
	padding: 30px 0px 20px 0px;
}

.book-details {
	padding: 20px;
}

#page-body {
  	background: #152737;
}

/*** 
	navigation 
***/
#top-link .nav {
	/*background-color: rgba(110, 110, 110, 0.9);*/
	position: fixed;
	z-index: 2;
}

#top-link {
	min-width: 800px;
}

#top-link a, #top-link a:link {
	transition: background-color .2s ease;
}

#top-link a:hover {
	transition: background-color .2s ease;
	transition: color .4s ease;
}

#top-link .nav a {
	border-radius: 0px !important;
}

#top-link .nav a:hover {
	cursor: pointer;
}


.nav img {
	height: 17px;
	width: initial;
	margin-right: 5px;
}

/*** 
	books 
***/

#book-editions {
	padding: 10px 0px 0px 0px;
	width:70%;

}

#book-editions .books-jumbo {
    width: 150px;
	opacity: 0.5;
	-o-transition:opacity .4s ease-out, background 1.4s ease-in;
	-ms-transition:opacity .4s ease-out, background 1.4s ease-in;
	-moz-transition:opacity .4s ease-out, background 1.4s ease-in;
	-webkit-transition:opacity .4s ease-out, background 1.4s ease-in;
	transition: all .2s ease-in-out;
}

.fullOpacity {
	opacity: 1 !important;
}

#book-editions .books-jumbo:hover {
	opacity: 1;
	transform: scale(1.1);
	cursor: pointer;
}


#book-edition-info {
	margin-top: 30px;
	text-align: center;
	clear:left;
}

#book-editions-img {
	margin: auto;
	display: block;
}

#book-editions-img a img {
	margin: auto;
	display: block;
}

#book-editions-img div {
	text-decoration: none;
	text-align: center;
	margin-bottom: 10px;
}

#book-editions-img a:hover {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.testimonial input {
	vertical-align: middle;
}

.testimonial input[type=radio] {
	margin: 0px;
}

.testimonial span {
	vertical-align: middle;
	margin-top: 7px;
	margin-bottom: 7px;
	display: inline-block;
}


/*** 
	footer 
***/
.links li, .info li{
	list-style-type: none;
	border-left: 3px solid #C4B39D;
	padding-left: 10px;
}

.links li:hover, .info li:hover{
	border-left: 3px solid white;
}


.links, .info, .buy-book {
	left: 10%;
}

.buy-book {
	list-style-type: none;
	border-left: 3px;
	padding-left: 10px;
}

#footer a {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: none;
}

/***
	errata
***/
.container table {
	border: none;
}

#orderby, #select-edition, #report-error {
	text-align: center;
}

.errata {
    margin: 20px;
}

.errataLink {
    cursor: pointer;
}

.row h5 {
	font-family: 'Raleway', sans-serif;
}

hr {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

textarea { resize:vertical ; }

/***
	others
***/

#third-edition {
	padding: 40px 0px 30px 0px;
	width: 70%;
}

#book-edition-info {
	margin-top: 30px;
	font-size: 13px;
	text-align: center;
}

/***
	quote
***/

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/***
	content
***/

.red {
	outline: 2px solid red;
}

.yellow {
	outline: 2px solid yellow;
}

.blue {
	outline: 2px solid blue;
}

.green {
	outline: 2px solid green;
}

.classWithPad { 
	margin:3px; 
	padding:3px; 
}

#content-infographic {
	margin-bottom: 40px;
	margin-top: 10px;
	padding: 20px;
}

.modal-header, .modal-footer{
	background-color: brown;
	color: white;
	text-align: center;
}

.glyphicon {
	font-size: 50px;
	opacity: 0.3;
}

.glyphicon:hover {
	opacity: 1;
	cursor: pointer;
}

/***
	color schemes
***/

#main-jumbo {
	background-color: #c9e1c1;
}

#top-link a:hover {
	color: black;
	background-color: #0f9fb4;
}

#page-text {
	color: white;
}

#page-body {
  	background: #152737;
}

#top-link a, #top-link a:link {
	color: white;
}

#top-link .nav {
	background-color: #1d2f3e;
}

#footer {
	background-color: rgb(35, 35, 35);
}

#footer h4 {
	color: white;
}

#footer a {
	color: white;
}

#footer a:hover {
	color: #0f9fb4;
	border-color: black;
}

#page-text .well {
	color: black;
}

.book-details, .errata, .testimonial, .downloads {
	color: white;
}