@import url(http://fonts.googleapis.com/css?family=Roboto:100&subset=latin,latin-ext);


/*** 
	@ media
 ***/
@media (max-width: 500px) {
	#omega-symbol {
		display: none;
	}
}

/*** 
	tables 
***/
table {
	width: 100%;
}

tr {
}

td {
	width: 25%;
	
}

/*** 
	title 
***/
.page-header {
	font-family: 'Roboto', sans-serif;
}

#omega-symbol {
	width: 85px;
	margin: auto;
}

#title {
	margin-top: 10px;
}

/*** main page text ***/
#page-text {
	padding: 30px 0px 20px 0px;
}

/*** 
	navigation 
***/
.nav {
	text-align: left;
}

.nav a:hover {
	cursor: pointer;
}

/*** 
	books 
***/

#book-editions {
	padding: 10px 0px 30px 0px;
}

#book-editions .img-responsive {
	height: 160px;
	opacity: 0.5;
	-o-transition:opacity .4s ease-out, background 1.4s ease-in;
	-ms-transition:opacity .4s ease-out, background 1.4s ease-in;
	-moz-transition:opacity .4s ease-out, background 1.4s ease-in;
	-webkit-transition:opacity .4s ease-out, background 1.4s ease-in;
}

#book-editions .img-responsive:hover {
	opacity: 1;
}

#book-edition-info {
	margin-top: 30px;
	text-align: center;
}

#book-editions-img {
	margin: auto;
	display: block;
}

#book-editions-img a img {
	margin: auto;
}

#book-editions-img a div {
	text-decoration: none;
	text-align: center;
	margin-bottom: 10px;
}

#book-editions-img a:hover {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

#first-edition {
	display: none;
}

#second-edition {
	display: none;
}

#third-edition {
	padding: 40px 0px 30px 0px;
	width: 70%;
	display: none;
}

@media (min-width: 992px) {
	#book-editions-img {
		display: flex;
	}
	.col-md-2 {
	  width: 16.66666667%;
	  margin: auto;
	}
}

/*** 
	footer 
***/
.panel-footer li{
	list-style-type: none;
	border-left: 3px solid grey;
	padding-left: 10px;
}


.links, .info {
	left: 10%;
}

.panel-body {
	background-color: grey;
}

/***
	errata
***/
.errata-fixed {
	background-color: yellow;
}


/***
	others
***/
.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}